#myhtml, #mybody{
    margin: 0px;
    padding: 0px;
    height: 100%;
}

h1, h2, h3 {
    padding: 0;
    margin: 0;
    text-transform: uppercase;
}

section{
    min-height: 100%;
}

.outerDiv{
  width: 100%;
}

.myRow{
  margin: 0;
  padding: 0;
}


/***************************************************/

/*div.nav-wrapper{
    height: 85px;
}*/

nav{
    position: fixed;
    background-color: #03a9f4;
}

a.brand-logo{
    padding: 0;
    margin: 0;
}

#logo{
    margin-top: 7%;
}

#logo:hover{
    opacity: 0.8;
    padding: 5px 0px 0px 0px;
}

a{
    text-decoration: none;
    color: #fff;
  }
  
  nav li a{
    position: relative;
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
  }
  
  nav li a:after{
    content: '';
    position: absolute;
    width: 0; height: 3px;
    display: block;
    margin-top: -4px;
    right: 0;
    background: #fff;
    transition: width .2s ease;
    -webkit-transition: width .2s ease;
  }
   
  nav li a:hover:after{
    width: 100%;
    left: 0;
    background: #fff;
  }


/* FIXED BUTTONs *******************************************/

  .phone {
    background-color : #039be5;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #039be5;
  }
  
  #mybutton1 {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }

  #mybutton1:hover{
    opacity: 0.8;
    padding-bottom: 10px;
  }
  
  button.whatsapp{
    background-color : #009688;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #009688;
    width: 67.2px;
  }

  #mybutton2 {
    position: fixed;
    bottom: 20px;
    right: 85px;
    z-index: 1;
    width: 77.2px;
  }

  #mybutton2:hover{
    opacity: 0.8;
    padding-bottom: 10px;
  }

  .email {
    background-color : #ef6771;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    border-color: #ef6771;
  }
  
  #mybutton3 {
    position: fixed;
    bottom: 20px;
    right: 170px;
    z-index: 1;
  }

  #mybutton3:hover{
    opacity: 0.8;
    padding-bottom: 10px;
  }


/* START *******************************************/

#start{
    background-image: url('../img/202-min.jpeg');
    background-position: center center;
    background-size: cover;
    text-align: center;
}

#start h1{
    font-size: 5em;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    font-family: 'Roboto', sans-serif;
}

#start h2{
    font-size: 3em;
    color: white;
    font-weight: bold;
    text-shadow: 2px 2px 8px black;
    font-family: 'Roboto', sans-serif;
}

#start hr{
    color: white;
    width: 70%;
}


/* DAS HAUS *******************************************/

#cardDiv{
  padding:0 0 50px 0;
  margin:0;
  height: 100vh;
  overflow: auto;
}

div#cardDivText.container{
  font-size: 1.6em;
  text-align: left;
  font-family: 'Roboto', sans-serif;
  overflow-wrap: break-word;

}

#sliderDiv{
  height: 100vh;
}

#innerSliderDiv{
  width: 100%;
}



#dasHaus hr{
    color: #ffeccc;
}


/* PREIS *******************************************/

#preis{
  background-color: rgba(230, 244, 241, 0.5);
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size:1.6em;
} 

.highlight{
  background-color: #ffd740;
}


/* KONTAKT *******************************************/

#kontakt{
    /*  background-color: rgba(230, 244, 241, 0.5);*/
    text-align: center;

} 

#hideElement{
  margin:0;
  padding:0;
} 

#kontakt h1{
  font-size: 7.5vh;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}

#kontakt h2{
  font-size: 4vh;
  color: white;
  font-weight: bold;
  text-shadow: 2px 2px 8px black;
}

#mybutton11:hover{
  opacity: 0.8;
  padding-right: 10px;
}

#mybutton21:hover{
  opacity: 0.8;
  padding-right: 10px;
}

#mybutton31:hover{
  opacity: 0.8;
  padding-right: 10px;
}

.button-margin{
  margin-bottom: 5vh;
  margin-top: 5vh;
}

#emailBackground{
  background-image: url('../img/email-min.jpeg');
  background-position: bottom;
  background-size: contain;
  background-repeat: no-repeat;
  height: 50vh;
  opacity: 0.5;
}

/* FOOTER *******************************************/

.page-footer{
    background-color: #03a9f4;
    font-family: 'Roboto', sans-serif;
    font-size: 1.4em;
}

#fullWidthDivFooter{
    width: 100%;
}
